.essayminimum {
  minlength: "200";
  data-rule-minlength: "200";
}

.shortanswertolong {
  height: 100px;
  width: 900px;
  display: inline-block;
  white-space: wrap;
  overflow-wrap: break-word;
}
